<meting-js
        id="##id##"
        api="##api##"
        server="##server##"
        type="##type##"
        auto="##auto##"
        fixed="##fixed##"
        mini="##mini##"
        autoplay="##autoplay##"
        theme="##theme##"
        loop="##loop##"
        order="##order##"
        preload="##preload##"
        volume="##volume##"
        mutex="##mutex##"
        lrcType="##lrcType##"
        lrc-type="##lrcType##"
        listFolded="##listFolded##"
        listMaxHeight="##listMaxHeight##"
        storageName="##storageName##"
>
</meting-js>