<div class="main-header">
    <div id="nhBannerAnimation">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title" id="homeTopTitle"><span></span></h1>
            <h2 class="page-description" id="hitokoto"></h2>
            <h3 class="page-author" id="hitokotoAuthor"></h3>
            <h1 class="sb-title" id="sbTitle">
                <span id='sbTitleText'></span>
                <span id='sbTitleConsole'></span>
            </h1>
            <p class="article-info" id="articleInfo"></p>
        </div>
    </div>
    <a class="scroll-down" href="javascript:void(0);" data-offset="-45">
        <span class="hidden">Scroll Down</span>
        <i class="scroll-down-icon iconfont icon-fanhui"></i>
    </a>
</div>