<div class="book-card">
    <div class="content-wrapper">
        <img src="##cover##" alt="" class="book-card-img">
        <div class="card-content">
            <div class="book-name" title="##name##">##name##</div>
            <div class="rate">
                <fieldset class="rating book-rate">
                    ##scoreHtml##
                </fieldset>
                <span class="book-voters card-vote">
                    ##infoHtml##
                </span>
            </div>
        </div>
    </div>
    <div class="book-by">
        <i class="iconfont icon-book" title="阅读时间" style="display: ##readDateStyle##"></i> ##readDate##
        <i class="iconfont icon-schedule" title="阅读进度" style="display: ##readPercentageStyle##"></i> ##readPercentage##
    </div>
</div>