<!-- 页脚样式 -->
<div class="footer-image" id="footerStyle1" style="display: none;"></div>
<footer id="footerStyle2" style="display: none;">
    <footer-background>
        <figure class="clouds"></figure>
        <figure class="background"></figure>
        <figure class="foreground"></figure>
    </footer-background>
</footer>
<div class="footer-box">
    <!-- 标语 -->
    <div class="footer-text" style="display: ##textShow##">
        [ ##textLeft##
        <span class="footer-text-icon">
            <span class="iconfont ##iconFont##"
                style="color: ##iconColor##;font-size: ##iconSize##;"></span>
        </span>
        ##textRight## ]
    </div>
    <!-- 运行时间 -->
    <div>
        <span id="blogRunTimeSpan"></span>
        <span class="my-face">ღゝ◡╹)ノ♡</span>
    </div>
    <!-- 友情链接 -->
    <div id="linksHtml" style="display: ##linkShow##">##linksHtml##</div>
    <!-- CNZZ -->
    <div id="cnzzInfo" style="display: none;">
        <div id="cnzzProtocol" style="display: none;">
            <span class="id_cnzz_stat_icon" id='cnzz_stat_icon_##cnzzId##'></span>
            <script src='https://v1.cnzz.com/z_stat.php?id=##cnzzId##&online=1&show=line' type='text/javascript'></script>
        </div>
        ##cnzzHtml##
    </div>
    <!-- footerText -->
    <div>##footerText##</div>
</div>