<div id="rightMenu">
    <!-- 文章目录 -->
    <div id="rtaDirectory" class="rightMenuItem" style="display: none;">
        <span class="rightMenuSpan rtaDirectorySpan">
            文章目录
        </span>
        <i banmv class="iconfont icon-mulu"></i>
    </div>
    <!-- 主页 -->
    <div id="rightMenuHome" class="rightMenuItem"  style="display: none;" clickflg="true">
        <span class="rightMenuSpan">
            访问主页
        </span>
        <i class="iconfont icon-home"></i>
    </div>
    <span class="hideRightMenu">
        <!-- 顶 -->
        <div id="rightDiggit" class="rightMenuItem" clickflg="false" style="display: none;">
            <span class="rightMenuSpan rightDiggitSpan"></span>
            <i class="iconfont icon-zan1"></i>
        </div>
        <!-- 踩 -->
        <div id="rightBuryit" class="rightMenuItem" clickflg="false" style="display: none;">
            <span class="rightMenuSpan rightBuryitSpan"></span>
            <i class="iconfont icon-buzan"></i>
        </div>
        <!-- 打赏 -->
        <div id="rightDashang" class="rightMenuItem" clickflg="false" style="display: none;">
            <span class="rightMenuSpan rightDanshanSpan">
                <div class="ds-pay">
                    <div class="ds-alipay" style="display: none;">
                        <img \>
                        <span>Alipay</span>
                    </div>

                    <div class="ds-wecat" style="display: none;">
                        <img \>
                        <span>WeChat</span>
                    </div>
                </div>
            </span>
            <i class="iconfont icon-dashang2"></i>
        </div>
        <!-- 公众号 -->
        <div id="rightGzh" class="rightMenuItem" clickflg="false" style="display: none;">
            <span class="rightMenuSpan rightGzhSpan">
               <div class="ds-pay">
                   <div class="ds-gzh">
                       <img /><span>qrCode</span>
                   </div>
               </div>
            </span>
            <i class="iconfont icon-erweima4"></i>
        </div>
        <!-- 关注 -->
        <div id="attention" class="rightMenuItem" clickflg="true">
            <span class="rightMenuSpan attentionSpan">
                已关注
            </span>
            <i class="iconfont icon-dianzan1"></i>
        </div>
    </span>
    <!-- 设置 -->
    <div id="rightMenuSite" class="rightMenuItem" clickflg="true">
        <span class="rightMenuSpan">
            点击开启
        </span>
        <i banmv class="iconfont icon-shezhi3"></i>
    </div>
    <!-- 上下滚动 -->
    <div id="toUpDown" class="rightMenuItem" data="up">
        <span class="rightMenuSpan toUpDownSpan">
            返回顶部
        </span>
        <div id="toUpDownI">
            <i banmv class="iconfont icon-zhiding"></i>
        </div>
    </div>
</div>