<div class="container">
    <div class="menu-wrap optiscroll" id="menuWrap" style="display:none">
        <nav class="menu">
            <!-- 个人简介 -->
            <div class="introduce-box">
                <div class="introduce-head">
                    <div class="introduce-via" id="menuBlogAvatar"></div>
                </div>
                <div id="introduce"></div>
            </div>
            <!-- 导航 -->
            <div class="nav-title"></div>
            <div class="icon-list">
                <ul id="m-nav-list">
                </ul>
            </div>
            <!-- 日历 -->
            <span id="calendar-box"></span>
            <!-- 找找看 -->
            <div class="m-list-title"><span>找找看</span></div>
            <div class="m-icon-list" id="sb-sidebarSearchBox"></div>
            <!-- 积分与排名 -->
            <div class="m-list-title"><span>积分排名<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-sidebarScorerank"></div>
            <!-- 自定义列表 -->
            <span id="menuCustomList"></span>
            <!-- 最新随笔 -->
            <div class="m-list-title"><span>最新随笔<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-sidebarRecentposts"></div>
            <!-- 我的标签 -->
            <div class="m-list-title"><span>我的标签<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-toptags"></div>
            <!-- 随笔分类 -->
            <div class="m-list-title"><span>随笔分类<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-classify"></div>
            <!-- 文章分类 -->
            <div class="m-list-title"><span>文章分类<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-ArticleCategory"></div>
            <!-- 阅读排行 -->
            <div class="m-list-title"><span>阅读排行<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-topview"></div>
            <!-- 推荐排行 -->
            <div class="m-list-title"><span>推荐排行<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-topDiggPosts"></div>
            <!-- 最新评论 -->
            <div class="m-list-title"><span>最新评论<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-recentComments"></div>
            <!-- 文章档案 -->
            <div class="m-list-title"><span>文章档案<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-articlearchive"></div>
            <!-- 随笔档案 -->
            <div class="m-list-title"><span>随笔档案<span class="iconfont icon-select m-list-title-select"></span></span>
            </div>
            <div class="m-icon-list" id="sb-record"></div>
        </nav>
        <button class="close-button" id="close-button">Close Menu</button>
        <div class="morph-shape" id="morph-shape"
             data-morph-open="M-7.312,0H15c0,0,66,113.339,66,399.5C81,664.006,15,800,15,800H-7.312V0z;M-7.312,0H100c0,0,0,113.839,0,400c0,264.506,0,400,0,400H-7.312V0z">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 800"
                 preserveAspectRatio="none">
                <path d="M-7.312,0H0c0,0,0,113.839,0,400c0,264.506,0,400,0,400h-7.312V0z"/>
            </svg>
        </div>
    </div>
    <button class="menu-button" id="open-button">MENU</button>
    <div class="content-wrap" id="content-wrap"></div>
</div>