<div class="dropdown">
    <a href="https://www.cnblogs.com/##user##" target="_self">
        <i class="iconfont icon-homepage_fill"></i>首页
    </a>
</div>
<div class="dropdown">
    <a href="https://msg.cnblogs.com/send/##user##" target="_blank">
        <i class="iconfont icon-zhifeiji"></i>联系
    </a>
</div>

<div class="dropdown">
    <a href="javascript:void(0)" onclick="$('#blog_nav_rss').trigger('click');" data-rss="https://www.cnblogs.com/##user##/rss/">
        <i class="iconfont icon-qinmifu"></i>订阅
    </a>
</div>

<div class="dropdown">
    <a href="https://i.cnblogs.com/" target="_blank">
        <i class="iconfont icon-setup_fill"></i>管理
    </a>
</div>