#articleDirectory {
    position: absolute;
    top: calc(40vh + 5px);
    right: 0;
    width: 260px;
    z-index: 1;
    max-height: 55vh;
    overflow: auto;
    box-shadow: 0 4px 11px -2px rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    background: rgba(255, 255, 255, .9);
}

#articleDirectory.articleDirectoryFixed {
    position: fixed;
    max-height: 95vh;
    top: 5px !important;
}

#articleDirectory ul {
    margin: 0;
    padding: 10px 10px 10px 5px;
}

#articleDirectory ul li {
    list-style: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 2px 0;
    height: 24px;
    cursor: pointer;
}

#articleDirectory ul li a {
    color: #000;
    padding: 0 0 0 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#articleDirectory ul li a:hover, #articleDirectory ul li a.active {
    background: rgba(80, 80, 80, .04);
    color: #807dd4;
}

#articleDirectory ul li a:hover::after, #articleDirectory ul li a.active:after {
    content: "";
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    border-left: 3px solid #807dd4;
}