footer p~a{-webkit-transition:all 350ms ease;-moz-transition:all 350ms ease;-ms-transition:all 350ms ease;-o-transition:all 350ms ease}
footer,
footer p~a{display:block;position:relative}
footer{background-color:#FFF;text-align:center;position: relative;top: 150px;z-index: -1;}
footer p~a{background-color:transparent;padding:0 .5rem;color:inherit;z-index:3;transition:all 350ms ease}
footer p~a:hover{color:#FFF}
footer p~a:not(.hireUs):before{background-color:#FF7779;position:absolute;top:0;right:100%;bottom:0;left:0;z-index:-1;-webkit-transition:right 350ms ease;-moz-transition:right 350ms ease;-ms-transition:right 350ms ease;-o-transition:right 350ms ease;transition:right 350ms ease}
footer p~a:not(.hireUs):hover:before{right:0}
footer ul{display:table;list-style-type:none;margin:0 auto;padding:0}
footer ul li{display:block;float:left}
footer ul li a{display:block;padding:0 .563rem}
footer ul li a svg{display:block;fill:#444;width:1.125rem;height:1.125rem;-webkit-transition:fill 350ms ease;-moz-transition:fill 350ms ease;-ms-transition:fill 350ms ease;-o-transition:fill 350ms ease;transition:fill 350ms ease}
footer ul li a:hover svg{fill:#FF7779}
@media (max-width:450px){footer ul li a svg{width:2rem;height:2rem}
}
footer grid-container{opacity:0;position:relative;z-index:2;-webkit-transition:-webkit-transform .5s ease .5s, opacity .5s ease .5s;-moz-transition:-moz-transform .5s ease .5s, opacity .5s ease .5s;-ms-transition:-ms-transform .5s ease .5s, opacity .5s ease .5s;-o-transition:-o-transform .5s ease .5s, opacity .5s ease .5s;transition:transform .5s ease .5s, opacity .5s ease .5s;-webkit-transform:translateY(15%);-moz-transform:translateY(15%);-ms-transform:translateY(15%);-o-transform:translateY(15%);transform:translateY(15%)}
footer.visible grid-container{opacity:1;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0)}
footer grid-column>a{color:inherit;display:table;font-size:1.25rem;font-weight:300;margin:0 auto .438rem}
footer grid-column>a+a+a{margin:0 auto 2.75rem}
footer grid-column p{font-size:1.375rem}
footer h2{margin-bottom:1.5rem}
footer .copyright{color:#BDBDBD;position:absolute;font-size:.75rem;font-weight:600;bottom:3rem;text-align:right;right:10%;z-index:3}
footer footer-background{bottom:7.25rem;left:0;height:18rem;position:absolute;width:100%;z-index:1;transform:translate3d(0, 0, 0)}
footer footer-background figure{bottom:0;left:0;height:15rem;margin:0;position:absolute;width:100%}
footer footer-background .foreground{background-repeat:repeat-x!important;background:url(https://gitee.com/dbnuo/Cnblogs-Theme-SimpleMemory/raw/master/img/foreground.png) repeat-x;background-size:225em 15em;position:absolute;top:1rem;right:0;bottom:0;left:0}
footer footer-background .background{background-repeat:repeat-x!important;background:url(https://gitee.com/dbnuo/Cnblogs-Theme-SimpleMemory/raw/master/img/background.png) repeat-x;background-size:225em 21.313em;position:absolute;top:-1em;right:0;bottom:0;left:0}
footer footer-background .clouds{background-repeat:repeat-x!important;background:url(https://gitee.com/dbnuo/Cnblogs-Theme-SimpleMemory/raw/master/img/clouds.png) repeat-x;background-size:225em 15em;position:absolute;top:-2em;right:0;bottom:0;left:0}
footer footer-background .poof{background:url(https://gitee.com/dbnuo/Cnblogs-Theme-SimpleMemory/raw/master/img/poof.png) repeat-x;background-size:47px 29px!important;background-position:top left!important;opacity:0;position:absolute;bottom:3.5em;height:29px;left:10%;width:47px}
footer ol {
    display: table;
    list-style-type: none;
    margin: 2.25rem auto 0 auto;
    padding: 0;
}

footer ol li {
    display: block;
    float: left;
}

footer ol li + li { margin-left: 1rem; }

footer ol a { color: #888; text-decoration: none; }
footer ol a:hover { color: #FF7779; text-decoration: underline; }

@media (max-width:520px){
    footer ol li { float: none; display: table; width: 100%; text-align: left; }
    footer ol li + li { margin-left: 0; margin-top: 0.5rem; }
}

footer .policies {
    position: absolute;
    bottom: 3rem; left: 10%;
    z-index: 10;
}