#sideToolbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

.sideToolbarFix {
    position: fixed !important;
    top: 5px !important
}

#sideToolbar ol, #sideToolbar ul {
    padding: 0
}

#sideToolbar li {
    list-style: none
}

#sideCatalog {
    position: relative;
    box-shadow: 0 0 10px 2px rgba(220,220,220,.3);
}

#sideCatalog-sidebar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #eaeaea;
    border-image: none;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-style: none solid;
    border-width: 0 1px;
    height: 100%;
    left: 5px;
    position: absolute;
    top: 0;
    width: 0
}

#sideCatalog-catalog {
    position: relative;
    font-size: 14px;
    background: rgba(255, 255, 255, 1);
    overflow: visible;
    max-height: 90vh;
    padding: 5px;
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    cursor: pointer;
    top: 0
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom {
    bottom: 0
}

#sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-bottom, #sideCatalog #sideCatalog-sidebar .sideCatalog-sidebar-top {
    /*background: url(https://cdn.jsdelivr.net/gh/BNDong/Cnblogs-Theme-SimpleMemory@master/img/webp/sideToolbar.webp) 0 -199px no-repeat;*/
    height: 10px;
    left: -5px;
    overflow: hidden;
    position: absolute;
    width: 10px
}

#sideCatalog li.active:after, #sideCatalog li.active:before {
    content: "";
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute
}

#sideCatalog li {
    margin: 5px 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 3px 3px 10px;
    border-bottom: 1px dashed #f7f7f7;
}

#sideCatalog li.active:before {
    background: rgba(80, 80, 80, .04)
}

#sideCatalog li.active:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid #807dd4
}

#sideCatalog-catalog .active a {
    font-weight: 600;
    color: #807dd4
}

#sideCatalog-catalog a:hover {
    color: #807dd4
}

#sideCatalog span:first-child {
    color: #999;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    padding-right: 5px
}

#sideCatalog li.h2Offset {
    text-indent: -25px;
    padding: 3px 0 3px 45px;
    display: none
}

#sideCatalog li.h3Offset {
    padding-left: 90px;
    text-indent: -50px
}

#sideCatalog a {
    text-decoration: none;
    color: #555;
    font-weight: 700
}

.sideCatalog-dot {
    /*background: url(https://cdn.jsdelivr.net/gh/BNDong/Cnblogs-Theme-SimpleMemory@master/img/webp/sideToolbar.webp) 0 -222px;*/
    cursor: pointer;
    font-size: 12px;
    height: 10px;
    left: -20px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 6px
}

/*#sideCatalog .highlight .sideCatalog-dot, #sideCatalogBtn, #sideCatalogBtn:hover {*/
    /*background: url(https://cdn.jsdelivr.net/gh/BNDong/Cnblogs-Theme-SimpleMemory@master/img/webp/list.webp) 4px 6px no-repeat*/
/*}*/

#sideCatalog .highlight .sideCatalog-dot {
    height: 13px;
    left: -23px;
    top: 3px;
    width: 18px
}

#sideCatalogBtn, #sideToolbar-up {
    height: 45px;
    margin-left: 5px;
    width: 45px;
    outline: 0
}

#sideCatalogBtn {
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 10px;
    position: absolute;
    right: 1px;
    bottom: 96px
}

/*.sideCatalogBtnDisable {*/
    /*background: url(https://cdn.jsdelivr.net/gh/BNDong/Cnblogs-Theme-SimpleMemory@master/img/webp/list.webp) 4px 6px no-repeat !important*/
/*}*/

/*#sideToolbar-up, #sideToolbar-up:hover {*/
    /*background: url(https://cdn.jsdelivr.net/gh/BNDong/Cnblogs-Theme-SimpleMemory@master/img/webp/list.webp) 4px 6px no-repeat*/
/*}*/

#sideToolbar-up {
    border-radius: 2px;
    display: block
}

#sideCatalog-sidebar, #sideCatalogBtn {
    display: none
}

.catalog-btn {
    display: none;
    position: absolute;
    top: 3px;
    right: 16px;
    z-index: 2;
    cursor: pointer;
    width: 20px;
    height: 24px;
    line-height: 24px;
    padding: 4px;
    font-size: 15px;
    background: #FFF;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.catalog-btn-shadow {
    -webkit-box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1), inset 0 -1px 0 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1), inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

.catalog-btn i {
    font-size: 18px;
    font-weight: 400;
    color: #555;
}